/gdx-setup.jar

bin
libs
gen

build.gradle
.project
.classpath
gradlew
gradlew.bat
settings.gradle

.gradle

gradle

Info.plist.xml
robovm.xml

proguard-project.txt

*.metadata
*.recommenders
*.settings
*.properties